In [5]:
#import numpy and pandas and our second library sweetviz
import numpy as np
import pandas as pd
import sweetviz as sv

In [6]:
#read the data
df = pd.read_csv("DataAnalyst.csv")
df.head(2)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1

# 1| Analyze
To analyze a single dataframe, simply use the analyze(...) function, then the show_html(...) function:

In [7]:
#To analyze a single dataframe, simply use the analyze(...) function, then the show_html(...) function:
data_analyst_report = sv.analyze(df)
data_analyst_report.show_html('Analyst.html')

                                             |          | [  0%]   00:00 -> (? left)

Report Analyst.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

# Just to show you guys, how the HTML file look like i'm gonna import the HTML file here.Let's see how it looks like

In [8]:
#here we take the website and put it here using Ipython.display
from IPython.display import IFrame
IFrame(src = 'Analyst.html',width=1000,height=600)